@font-face {
  font-family: 'Karla Italic'; 
  src: url('assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;  
}

@font-face {
  font-family: 'Karla'; 
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

* {
  box-sizing: border-box;
  font-family: "Karla";
  margin: 0;
  padding: 0;
}

body {
  background: hsl(148, 38%, 91%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.err {
  display: none;
  color: hsl(0, 66%, 54%);
}
#success-box {
  background: hsl(187, 24%, 22%);
  border-radius: 7px;
  padding: 10px;
  visibility: hidden;
  position: fixed;
  top:-100%;
}
.star {
  color: hsl(169, 82%, 27%);
}

.contact-form__card {
  margin-top: 6%;
  min-width: 205px;
  width: 90%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 20px;
  font-size: 1.6rem;
}

p {
  padding: 7px 0;
  font-size: 0.7rem;
}

input {
  border-radius: 8px;
  border: 1px solid black;
}

/* NAME */

.name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  margin: 0 20px;
}

.first-name__box {
  margin-bottom: 8px;
  width: 100%;
  min-width: 150px;
}

.last-name__box {
  margin-bottom: 8px;
  width: 100%;
  min-width: 150px;
}

#first-name {
  padding: 12px;
  width: 100%;
  min-width: 150px;
}

#last-name {
  padding: 12px;
  width: 100%;
  min-width: 150px;
}

@media (min-width: 433px) {
  .first-name__box {
    width: 48%;
  }

  .last-name__box {
    width: 48%;
  }
}

/* EMAIL */

.email-address__box {
  margin: 0 20px 7px 20px;
}

#email {
  padding: 12px;
  width: 100%;
}

/* QUERY TYPE*/

.query-type__box {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.radio-button {
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px 10px;
  margin: 5px 0;
}

#radio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 433px) {
  .radio-button {
    width: 48%;
    min-width: 150px;
    height: 42px;
  }
}

/* MESSAGE */

.message__box {
  margin: 0 20px;
}

#message {
  resize: none;
  padding: 5px;
  width: 100%;
  height: 80px;
  border-radius: 8px;
}

/* CONSENT */

.consent-checkbox__box {
  margin: 20px;
}

/* SUBMIT */

.submit__box {
  margin: 0 20px 20px 20px;
}

.submit__box button {
  display: block;
  background-color: hsl(169, 82%, 27%);
  border: 0;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  color: white;
}

.submit__box button:hover {
  background-color: hsl(187, 24%, 22%);
  cursor: pointer;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
