@font-face {
  font-family: 'Karla Italic'; 
  src: url('assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;  
}

@font-face {
  font-family: 'Karla'; 
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

* {
  box-sizing: border-box;
  font-family: "Karla";
  margin: 0;
  padding: 0;
}

body {
  background: hsl(148, 38%, 91%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.err {
  display: none;
  color: hsl(0, 66%, 54%);
}
#popup {
  background: hsl(187, 24%, 22%);
  color: white;
  border-radius: 7px;
  padding: 20px 20px 15px 20px;
  margin: 30px;
  margin-top: 20px;
  visibility: visible;
  position: fixed;
  top:-100%;
}

#popup > header {
  display: flex;
  align-items: center;
}

#popup > header h3 {
  padding-left: 10px;
}

/*todo: fix this*/
#svg {
  width: 20px;
  height: 20px;
  background: url(/assets/images/icon-success-check.svg) no-repeat center;
  background-size: contain;
}

.star {
  color: hsl(169, 82%, 27%);
}

form {
  margin-top: 6%;
  min-width: 205px;
  width: 90%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 20px;
  font-size: 1.6rem;
}

p {
  padding: 7px 0;
  font-size: 0.7rem;
}

label {
  padding: 7px 0;
  font-size: 0.7rem;
}

input {
  border-radius: 8px;
  border: 2px solid #aaa;
}

input:hover {
  border: 2px solid hsl(186, 15%, 59%);
}

input[type=radio] {
  padding-top: 10px;
  width: 15px;
  height: 15px;
  accent-color: hsl(169, 82%, 27%);
}

/* NAME */

#name-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  margin: 0 20px;
}

#first {
  margin-bottom: 8px;
  width: 100%;
  min-width: 150px;
}

#last {
  margin-bottom: 8px;
  width: 100%;
  min-width: 150px;
}

#first-name {
  padding: 12px;
  width: 100%;
  min-width: 150px;
}

#last-name {
  padding: 12px;
  width: 100%;
  min-width: 150px;
}

@media (min-width: 433px) {
  #first {
    width: 48%;
  }

  #last {
    width: 48%;
  }
}

/* EMAIL */

#email-container {
  margin: 0 20px 7px 20px;
}

#email {
  padding: 12px;
  width: 100%;
}

/* QUERY TYPE*/

#query-container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.radio-button {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 8px;
  padding: 12px 10px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.radio-button label {
  padding-left: 10px;
}

.radio-button label:hover {
  cursor: pointer;
}

.radio-button input:hover {
  cursor: pointer;
}

#radio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



@media (min-width: 433px) {
  .radio-button {
    width: 48%;
    min-width: 150px;
    height: 42px;
  }
}

/* MESSAGE */

.message__box {
  margin: 0 20px;
}

#message {
  resize: none;
  padding: 5px;
  width: 100%;
  height: 80px;
  border-radius: 8px;
  border: 2px solid #aaa;
}

#message:hover {
  border: 2px solid hsl(186, 15%, 59%);
}

/* CONSENT */

.consent-checkbox__box {
  margin: 20px 20px 0 20px;
  display: flex;
  align-items: center;
}

.consent-checkbox__box label {
  padding-left: 10px;
  cursor: pointer;
}

#consent {
  cursor: pointer;
  width: 15px;
  height: 15px;
  accent-color: hsl(169, 82%, 27%);
}

#no-wrap {
  white-space: nowrap;
}

#err-consent {
  margin: 0 20px;
}
/* SUBMIT */

.submit__box {
  margin: 20px;
}

.submit__box button {
  display: block;
  background-color: hsl(169, 82%, 27%);
  border: 0;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  color: white;
}

.submit__box button:hover {
  background-color: hsl(187, 24%, 22%);
  cursor: pointer;
}
